
  <!-- ======= Contact Us Section ======= -->
  <section class="contactsection position-relative section-gap" id="contact">
  		<!-- <div class="footer-right"><img src="/assets/img/footer-right.svg" class="img-fluid" alt=""></div> -->
		<div class="footer-left"><img src="/assets/img/footer-left.svg" class="img-fluid" alt=""></div>
  		<div class="container">
			<div class="contact-title">
				<h3>Let’s talk about transforming your business goals / and your vision into reality. <span>Starting right now</span></h3>
			</div>
			
			<div class="contact-col">
				<div class="row">
					<div class="col-md-7">
						<form
  action="https://formspree.io/f/mayvvlby"
  method="POST" name="calnetic"
>
						<div class="form-group">
							<input type="text" class="form-control" name="name" placeholder="Name" required="">
						</div>
						
						<div class="form-group">
							<input type="email" class="form-control" name="email" placeholder="E-mail" required="">
						</div>
						
						<div class="form-group">
							<textarea class="form-control" name="message" placeholder="Message" required=""></textarea>
						</div>
						<input type="hidden" name="_next" value="thanks.html" />
						
						<p><button type="submit" class="btn btn-primary">Send</button></p>
					</form>
						
						<div class="row cont-info">
							<div class="col-md-4">
								<h3>Info</h3>
								<p>Reach out to us anytime if you have any questions at-all about our approach and how we can help you</p>
							</div>
							
							<div class="col-md-4 col-6">
								<h3>Calnetic Inc</h3>
								<p>430 404 6th Av Sw, Calgary<br>AB, Canada, T2P OR9<br>+ 1-844-234-6756<br>info@calnetic.com</p>
							</div>
							
							<div class="col-md-4 col-6">
								<h3>Office Hours</h3>
								<p>Mo-Fr 8:00 - 18:00 MT<br>Weekends: Closed</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-5"><img src="/assets/img/default-map.jpg" class="img-fluid" alt=""></div>
				</div>
			</div>
		</div>
  </section>
  <!-- ======= Contact Us Section ======= -->