{% assign data = site.home.how %}
	{% if data.enabled %} 
  <!-- ======= How We Section ======= -->
  <section class="howsection" id="howsection">
  	<div class="mdlbgright"><img src="assets/img/mdl-union.svg" class="img-fluid" alt=""></div>
	<div class="mdlbgleft"><img src="assets/img/Union2.svg" class="img-fluid" alt=""></div>
	<div class="container mb-5">
		<div class="row">
			<div class="col-md-12 text-center">
				<h6>{{data.smallHeading}}</h6>
				<h2>{{data.heading}}</h2>
			</div>
		</div>
	</div>  
  	<div class="container howradius">
		<div class="row">
			{% for item in data.items %} 
				<div class="col-md-4 align-items-stretch mb-5 mb-lg-0">
					<div class="icon-box">
						<div class="icon">Step {{ forloop.index }}</div>
						<h3>{{item.heading}}</h3>
						<p>{{item.body}}</p>
						{% if  item.url %}
						<a href="{{item.url}}">
							{{item.urlText}} <img src="assets/img/arrow-right.png" class="img-fluid" alt="{{item.heading}}">
						</a>	
						{% endif %}			
					</div>
				</div>
			{% endfor %}
		
		</div>
	</div>
  </section>
  <!-- ======= How We Section ======= -->
  {% endif %}