
{% assign data = site.home.solutions %}

{% if data.enabled %} 
	  <!-- ======= Wide Range Solutions ======= -->
	  <div class="widerangesection section-gap" id="solutions">
	  	<div class="container">
			<div class="section-title"><h2> {{data.heading}}</h2> <h6>{{data.smallHeading}}</h6></div>
			<div class="row homegrid">
				{% for item in data.items %}
					<div class="col-lg-12 col-md-12 newitems align-items-center">
						<div class="col-lg-6 col-md-6 gridcontent">
							<h3>{{item.heading}}</h3>
							<p>{{ item.body }}</p>
							{% if  item.url %}
								<a href="{{item.url}}">
									{{item.urlText}} <img src="assets/img/arrow-right.png" class="img-fluid" alt="{{item.heading}}">
								</a>	
							{% endif %}
						</div>
						<div class="col-lg-6 col-md-6 imgsection">
							<h3>{{item.heading}}</h3>
							<img src="{{ item.image }}" class="img-fluid" alt="{{item.heading}}">
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	  </div>
	  <!-- ======= Wide Range Solutions Ends ======= -->
{% endif %}